@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #161618;
    --primary-color: #161618;
    --secondary-color: #fff;
    --text-color: #fff;
    --text-color-2: #fff;
    --text-color-3: #818181;
    --overlay-color: rgb(12 12 12 / 63%);
    --site_Font: "Manrope";
    --site_Title: "Inter";
}

[data-theme="light"] {
    --bg-color: #ffffff;
    --primary-color: #ffffff;
    --secondary-color: #000;
    --text-color: #000;
    --text-color-2: #000;
    --text-color-3: #818181;
    --overlay-color: rgb(255 255 255 / 70%);
}

html,
body {
    @apply h-full;
}

body {
    @apply m-0;
    @apply h-full;
    @apply overflow-x-hidden;
    @apply bg-[var(--bg-color)];
    @apply text-[var(--text-color)];
    @apply font-['Manrope'];
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply pt-[60px];
    @apply border-r-[10px];
    @apply border-l-[10px];
    @apply border-l-[var(--primary-color)];
    @apply border-r-[var(--primary-color)];
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-['Inter'];
}

a,
a:hover {
    @apply text-[var(--text-color)]
}

p {
    word-break: break-word;
    hyphens: auto;
    @apply md:text-[16px];
    @apply text-[15px];
    @apply leading-relaxed;
}

.ovhidden {
    @apply overflow-x-hidden;
    @apply overflow-y-hidden;
}

.text_2,
.text_2:hover {
    text: var(--text-color-2);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.cursor__dot div {
    z-index: 999999 !important;
}

.cursor__dot div:last-child {
    background-color: var(--text-color-3) !important;
}

.cursor__dot div:first-child {
    filter: invert(1);
    background-color: var(--overlay-color) !important;
}

.color_pr {
    color: var(--primary-color) !important;
}

.color_sec {
    color: var(--secondary-color);
}

.display-4 {

    @apply text-[36px];
 
    @apply md:text-[40px];  
    @apply xl:text-[46px];
    @apply font-['Manrope'];
    @apply uppercase;
    @apply font-semibold;
}