@tailwind base;
@tailwind components;
@tailwind utilities;

.po_items_ho {
    @apply gap-x-16;
    column-width: 15em;
    -moz-column-width: 15em;
    -webkit-column-width: 15em;
    -moz-column-gap: 4rem;
    -webkit-column-gap: 4rem;
  }
  .po_item {
    @apply inline-block w-full text-center relative border border-[color:var(--secondary-color)] transition-[0.3s] duration-[ease] text-[0] min-h-[300px] mx-auto my-2 p-1.5 border-solid hover:shadow-[0_10px_15px_0_rgba(0,0,0,0.25)];
    background: var(--secondary-color);
  }
  .po_item img {
    @apply max-w-full;
  }
  .po_item .content {
    @apply absolute h-0 w-0 -translate-x-2/4 -translate-y-2/4 z-[1] flex justify-center flex-col items-center h-full w-full transition-[0.3s] duration-[ease-in-out] opacity-0 border border-solid border-[black] left-2/4 top-2/4 opacity-0 delay-[1s] transition-[0.3s] duration-[ease] text-xl;
    background: var(--overlay-color);
  }
  .po_item:hover .content {
    @apply h-[calc(100%_-_30px)] w-[calc(100%_-_30px)] opacity-100 opacity-100 text-[color:var(--secondary-color)];
  }
  .po_item .content a {
    @apply border-[color:var(--text-color)] text-center text-base px-2 py-1 border-[solid] hover:no-underline;
    background: var(--bg-color);
  }
  

.fancybox__container .build-wrapper {
    @apply px-[30px] py-[5vw] p-[30px] rounded-[20px];
    background: transparent;
  }
  .fancybox__container .build-wrapper .block-gadget {
    @apply relative;
  }
  .fancybox__container .build-wrapper .wrapper-mobile {
    @apply absolute max-w-[230px] bottom-[-6vw] overflow-hidden z-[1] w-3/12 right-0;
  }
  .fancybox__container .build-wrapper .wrapper-mac .photo {
    @apply w-[calc(100%_-_26%)] -translate-x-2/4 translate-y-0 left-2/4 top-10;
  }
  .fancybox__container .build-wrapper .wrapper-mobile .photo {
    @apply w-[calc(100%_+_-11.5%)] -translate-x-2/4 translate-y-0 left-2/4 top-[38px];
  }
  .fancybox__container .build-wrapper .wrapper-mobile .photo .scrollable_Img {
    @apply relative overflow-y-scroll pb-[168%];
  }
  .fancybox__container
    .build-wrapper
    .wrapper-mobile
    .photo
    .scrollable_Img::-webkit-scrollbar-track {
    @apply bg-transparent rounded-none;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  }
  .fancybox__container
    .build-wrapper
    .wrapper-mobile
    .photo
    .scrollable_Img::-webkit-scrollbar {
    @apply w-0 bg-transparent;
  }
  .fancybox__container
    .build-wrapper
    .wrapper-mobile
    .photo
    .scrollable_Img::-webkit-scrollbar-thumb {
    @apply bg-transparent rounded-none;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  }
  .fancybox__container .build-wrapper .wrapper-map .photo {
    @apply absolute w-full;
  }
  .fancybox__container .build-wrapper .wrapper-mac .photo .scrollable_Img {
    @apply relative overflow-y-scroll pb-[60%];
  }
  .fancybox__container
    .build-wrapper
    .wrapper-mac
    .photo
    .scrollable_Img::-webkit-scrollbar-track {
    @apply bg-transparent rounded-none;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  }
  .fancybox__container
    .build-wrapper
    .wrapper-mac
    .photo
    .scrollable_Img::-webkit-scrollbar {
    @apply w-0 bg-transparent;
  }
  .fancybox__container
    .build-wrapper
    .wrapper-mac
    .photo
    .scrollable_Img::-webkit-scrollbar-thumb {
    @apply rounded-none;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  }
  .group.each-project:hover:before {
    @apply content-[""] absolute w-full h-[100px] z-[2] z-[1] transition-[0.3s] scale-100 right-0 bottom-[0%];
    background: #000;
    background: linear-gradient(to bottom, #fdfdfd00, #000000);
  }
  .group.each-project:before {
    @apply origin-right transition-[0.3s] scale-0;
  }
  @media (max-width: 1080px) {
    .fancybox__container .build-wrapper .wrapper-mac .photo {
      @apply top-[3.8vw];
    }
    .fancybox__container .build-wrapper .wrapper-mobile .photo {
      @apply top-[3.5vw];
    }
  }
  @media (max-width: 520px) {
    .fancybox__container .build-wrapper .wrapper-mac .photo {
      @apply top-[3.5vw];
    }
    .fancybox__container .build-wrapper .wrapper-mobile .photo {
      @apply top-[3.1vw];
    }
  }